/*Modernizer Code*/
/* IE6 css fixer v0.95: Sat, 21 Jan 2012 22:02:04 +0100 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
#nav li {
	display: inline;
}
/* add zoom:1 to overflow:hidden */
#nav {
	zoom: 1;
}
/* add overflow:visible to (submit) buttons */
input, button {
	overflow: visible;
}
/*My COde*/

/*This is suppose to highlight the current web page menu*/
#navHome .navHome, #navNews .navNews, #navAdmin .navAdmin, #navAbout .navAbout {
	transition: background-color 1s;
	/* Firefox 4 */
	-moz-transition: background-color 1s;
	/* Safari and Chrome */
	/*	-webkit-transition: color 1s, background-color 1s, text-transform 1s;*/
	-webkit-transition: background-color 1s;
	/* Opera */
	-o-transition: background-color 1s;
	font-weight: bolder;
	/*	background-color: #eeddbb;*/
	background-color: #CB8;
	color: #555544;
	text-transform: uppercase;
}
#navDiv {
	border-width: 2px 1px 2px 1px;
	border-style: solid;
	border-color: #555544;
	background-color: #555544;
	color: #eeddbb;
}
#nav {
	list-style-type: none;
	overflow: hidden;
	background-color: #555544;
}
#nav a {
	text-decoration: none;
	color: #eeddbb;
	/*	font-stretch: extra-expanded;*/ /*Maybe when its implemented*/
	letter-spacing: 10px;
}
#nav li {
	float: left;
	width: 24.7511%;
	text-align: center;
}
#nav  li+ li {
	border-left: 2px solid #eeddbb;
}
#nav li a {
	display: block;
}
#nav li a:hover {
	transition: background-color 1s;
	/* Firefox 4 */
	-moz-transition: background-color 1s;
	/* Safari and Chrome */
	/*	-webkit-transition: color 1s, background-color 1s, text-transform 1s;*/
	-webkit-transition: background-color 1s;
	/* Opera */
	-o-transition: background-color 1s;
	font-weight: bolder;
	background-color: #eeddbb;
	color: #555544;
	text-transform: uppercase;
}
#navHome .navHome {
	background-color: red;
	color: blue;
}
