*{
			font-family:"trebuchet ms",tahoma,sans-serif;
		}
		td{
			padding:.35em;
			vertical-align:text-top;
		}
		ol,ul{
			margin-left:1em;
			padding-left:1em;
		}
		li{
			margin-bottom:0.5em;
		}
		table,tr,td{
			border:1px solid black;
		}
